*{
    padding: 0;
    margin: 0;
    
}
header,body,footer {
    font-family: "Microsoft JhengHei", "PingFang TC", "Noto Sans TC", "Heiti TC", "Arial", sans-serif;
}

header{
    background-color: rgb(28, 41, 67) ;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 3; 
}
header li{
    display: inline;
    margin-right: 4vw;
}
header ul{
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 80px;
}
h1{
    color: white;
    position: absolute;
    left: 120px;
    top: 0;
    line-height: 80px;
    font-family: Arial, Helvetica, sans-serif;

}
header a{
    color: white;
    text-decoration: none;
}
header a:hover{
    text-decoration: underline;
    font-size: larger;
    color: wheat;
}
.photo{
    background-color: rgb(28, 41, 67) ;
    height: 95Vh;
    background-image: url(images/IMG_8970.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.photo::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); 
    z-index: 1; 
}
.photo p{
    font-size: 42px;
    color: white;
    z-index: 2;
    transform: translate(0px,-40px);
}
.group{
    background-color:rgb(28, 41, 67) ;
    height: 75vh;
    /* background-image: url(images/Rock\ Wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top; */
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 130px 80px 40px;
}
.group img{

    width: 500px; /* 设置宽度 */
    height: 500px; /* 设置高度 */
    object-fit: cover; 
    border-radius: 50px;
}
.group div{
 width: 100%;
 text-align: center;
}
.group h4{
    font-size: 50px;
    color: white;
    text-decoration: none;
}
.group li{
    display: inline;
    font-size: 20px;
    line-height: 1.6em;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    color: white;
    text-decoration: none;  
}
.group li img{
    height: 2em; 
    width: auto;
    object-fit: cover;
    border-radius: 50%;
    transform: translate(-120px,9px);    
}
.group a, a:visited{
    text-decoration: none;
    color: white; /* 設定訪問前後都為藍色 */
    text-decoration: none; /* 移除下劃線 */
   
}


.group a:hover {
    color: wheat; /* 懸停時變成綠色 */
    text-decoration: underline;
    font-size: larger ;
}

footer{
    background-color: rgb(28, 41, 67) ;
    height: 60px;
    width: 100%;
    position: relative;
}
footer p {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.4);
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
